@import url("https://fonts.googleapis.com/css?family=PT+Sans|Work+Sans:300,400,500&display=swap");

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #111111;
    overflow-x: hidden;
}

#my-svg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.container_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 665px;
    position: relative;
}

.container_form .left_side {
    position: relative;
    width: 137px;
    font-size: 49px;
    line-height: 63px;
    color: white;
    background: #5A61ED;
}

.container_form .left_side > p {
    font-family: 'PT Sans';
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: -42px;
    white-space: nowrap;
    bottom: 70px;
}

.container_form .main_form {
    width: 528px;
    padding: 38px 7px 32px 22px;
    position: relative;
}

.container_form .main_form .head_form {
    padding-bottom: 4px;
}

.container_form .main_form .head_form h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
}

.container_form .main_form .head_form p {
    font-weight: 300;
}

.container_form .main_form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.container_form .main_form form label, .container_form .main_form form .label {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #7C7C7C;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-top: 17px;
    width: 50%;
    padding-right: 15px;
    position: relative;
    z-index: 2;
}

.container_form .main_form form .date_block label.dateDropdown {
    -webkit-flex-flow: nowrap;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-right: 15px;
}

.container_form .main_form form .date_block label.dateDropdown .select {
    margin-right: 10px;
}

.container_form .main_form form .date_block label.dateDropdown .day {
    max-width: 56px;
}

.container_form .main_form form .date_block label.dateDropdown .month {
    max-width: 91px;
}

.container_form .main_form form .date_block label.dateDropdown .year {
    max-width: 68px;
    margin: 0;
}

.container_form .main_form form .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: url("../img/Shape.svg") no-repeat right center;
}

.container_form .main_form form input, .container_form .main_form form select {
    font-family: 'Work Sans';
    width: 100%;
    padding: 5px 0 6px;
    border: none;
    outline: none;
    border-bottom: 0.7px solid #F2F2F2;
    background: transparent;
}

.container_form .main_form form input.errorMessages {
    color: #FF2828;
    border-bottom: 2px solid #FF2828;
}

.container_form .main_form form div.errorMessages {
    color: #FF2828;
    position: absolute;
    top: 100%;
    min-width: 125px;
    font-size: 12px;
    line-height: 14px;
}

.container_form .main_form form .check_block, .container_form .main_form form .date_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    width: 50%;
}

.container_form .main_form form .check_block .label, .container_form .main_form form .date_block .label {
    width: 100%;
}

.container_form .main_form form .check_block label, .container_form .main_form form .date_block label {
    width: auto;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #111111;
    -webkit-flex-flow: nowrap;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    margin: 0 20px 0 0;
    padding: 0;
}

.container_form .main_form form .check_block label input[type='radio'], .container_form .main_form form .date_block label input[type='radio'] {
    visibility: hidden;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.container_form .main_form form .check_block label input[type='radio']:after, .container_form .main_form form .date_block label input[type='radio']:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #5A61ED;
    position: absolute;
    visibility: visible;
    left: -18px;
}

.container_form .main_form form .check_block label input[type='radio']:checked:before, .container_form .main_form form .date_block label input[type='radio']:checked:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #5A61ED;
    visibility: visible;
    border-radius: 50%;
    position: absolute;
    left: -15px;
}

.container_form .main_form form .check_block label {
    margin-left: 17px;
}

.container_form .main_form form .block_subm {
    margin-top: 98px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    color: #000000;
    position: relative;
    z-index: 12;
}

.container_form .main_form form .block_subm input[type="submit"] {
    font-family: PT Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: #5A61ED;
    border: 0.5px solid #FFFFFF;
    padding: 7px 25px;
    margin-right: 15px;
    width: auto;
    position: relative;
}

.container_form .main_form form input[name="mail"].success {
    background: url("../img/Shape1.svg") no-repeat right center;
}

.container_form .main_form .thank {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 11;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 64px;
}

.container_form .main_form .thank h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
    color: #111111;
}

.container_form .main_form .thank p {
    margin-top: 11px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

@media all and (max-width: 600px) {
    .container_form .main_form form#reg_form .date_block label.dateDropdown {
        -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }

    .container_form .main_form form#reg_form .date_block label.dateDropdown select {
        max-width: 100%;
        margin: 0;
    }
}
