@import url('https://fonts.googleapis.com/css?family=PT+Sans|Work+Sans:300,400,500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  overflow-x: hidden;
}
#my-svg {
  position: absolute;
  right:0;
  bottom: 0;
}
.container_form {
  display: flex;
  max-width: 665px;
  position: relative;
  .left_side{
    position: relative;
    width: 137px;
    font-size: 49px;
    line-height: 63px;
    color: white;
    background: #5A61ED;
    >p{
      font-family: 'PT Sans';
      position: absolute;
      transform: rotate(-90deg);
      right: -42px;
      white-space: nowrap;
      bottom: 70px;
    }
  }
  .main_form{
    width: 528px;
    padding: 38px 7px 32px 22px;
    position: relative;
    .head_form{
      padding-bottom: 4px;
      h3{
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.46px;
      }
      p{
        font-weight: 300;
      }
    }
    form{
      display: flex;
      flex-flow: wrap;
      label,.label{
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #7C7C7C;
        display: flex;
        flex-flow: wrap;
        margin-top: 17px;
        width: 50%;
        padding-right: 15px;
        position: relative;
        z-index: 2;
      }
      .date_block label.dateDropdown{
        flex-flow: nowrap;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding-right: 15px;
        .select{
          margin-right: 10px;
        }
        .day{
          max-width: 56px;
        }
        .month{
          max-width: 91px;
        }
        .year{
          max-width: 68px;
          margin: 0;
        }
      }
      .select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        background: url("../img/Shape.svg") no-repeat right center;
      }
      input,select{
        font-family: 'Work Sans';
        width: 100%;
        padding: 5px 0 6px;
        border: none;
        outline: none;
        border-bottom: 0.7px solid #F2F2F2;
        background: transparent;
      }
      input.errorMessages{
        color: #FF2828;
        border-bottom: 2px solid #FF2828;
      }
      div.errorMessages{
        color:#FF2828;
        position: absolute;
        top: 100%;
        min-width: 125px;
        font-size: 12px;
        line-height: 14px;
      }
      .check_block,.date_block{
        display: flex;
        flex-flow: wrap;
        width: 50%;
        .label{
          width: 100%;
        }
        label{
          width: auto;
          font-family: Work Sans;
          font-weight: 400;
          font-size: 14px;
          line-height: 12px;
          color: #111111;
          flex-flow: nowrap;
          margin: 0 20px 0 0;
          padding: 0;
          input[type='radio']{
            visibility: hidden;
            position: relative;
            display: flex;
            align-items: center;
          }
          input[type='radio']:after{
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #5A61ED;
            position: absolute;
            visibility: visible;
            left: -18px;
          }
          input[type='radio']:checked:before{
            content: "";
            width: 6px;
            height: 6px;
            background: #5A61ED;
            visibility: visible;
            border-radius: 50%;
            position: absolute;
            left: -15px;
          }
        }

      }
      .check_block label{
        margin-left: 17px;
      }
      .block_subm{
        margin-top: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 13px;
        line-height: 15px;
        font-weight: 300;
        color: #000000;
        position: relative;
        z-index: 12;
        input[type="submit"]{
          font-family: PT Sans;
          font-weight:400;
          font-size: 14px;
          line-height: 18px;
          color: #FFFFFF;
          background: #5A61ED;
          border: 0.5px solid #FFFFFF;
          padding: 7px 25px;
          margin-right: 15px;
          width: auto;
          position: relative;
        }
      }
      input[name="mail"].success{
        background: url("../img/Shape1.svg") no-repeat right center;
      }
    }
    .thank {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 11;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      padding-left: 64px;
      h3{
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.46px;
        color: #111111;
      }
      p{
        margin-top: 11px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
@media all and (max-width:600px){
  .container_form .main_form form#reg_form .date_block label.dateDropdown{
    flex-flow: wrap;
    select{
      max-width: 100%;
      margin: 0;
    }
  }
}